---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import LibrarySection from '../components/LibrarySection.astro'
---

<Layout>
  <main>
    <Hero />
    <LibrarySection />
  </main>
</Layout>
